.hero {
    background-color: #c4c4c4;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: auto;
    margin-left: auto;
    
    

    &__title {
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;           
        margin-bottom: 30px; 
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--text-color-hero);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
 screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/header@2x.jpg);
        background-size: 480px 400px;
    }
}


.hero__button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--text-color-hero);
    background-color: var(--accent-color);
    width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    border-color: transparent;
    padding: 10px;
    transition: color var(--transit-dur-func);

    &:hover, &:focus {
        color: var(--accent-color);
    }
}
@media screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/table/headert.jpg);

        &__title {
           width: 360px;
           margin-left: auto;
           margin-right: auto;
        }

    }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/table/headert@2x.jpg);
        background-size: 768px 400px;
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero.jpg);
        max-width: 1600px;
        padding-top: 118px;
        padding-bottom: 118px;

        &__title {
            font-size: 44px;
            width: 696px;            
        }
        &__button {
            width: 216px;
        }

    }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero@2x.jpg);
        background-size: 1600px 600px;
    }
}



